{% extends 'base.html' %}

{% block content %}

	<h4 class="page-header" style="margin-top:0px">{{ employee.full_name }} - {{ employee.employee_category }}</h4>

	<div class="row">
		<div class="col-sm-6">
			<p class="list-group-item active">Info</p>
			<table class="table-condensed">
				<tbody>
					<tr>
						<td class="text-right">SSN:</td>
						<td>{{ employee.ssn_display }}</td>
					</tr>
					<tr>
						<td class="text-right">Address:</td>
						<td>{{ employee.full_address }}</td>
					</tr>
					<tr>
						<td class="text-right">Home Phone:</td>
						<td>{{ employee.phone_home_display }}</td>
					</tr>
					<tr>
						<td class="text-right">Cell Phone:</td>
						<td>{{ employee.phone_cell_display }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<p class="list-group-item active">Dates</p>
			<table class="table-condensed">
				<tbody>
					<tr>
						<td class="text-right">Born:</td>
						<td>{{ employee.date_birth }}</td>
					</tr>
					<tr>
						<td class="text-right">Hired:</td>
						<td>{{ employee.date_hire }}</td>
					</tr>
					<tr>
						<td class="text-right">Available:</td>
						<td>«available»</td>
					</tr>
					<tr>
						<td class="text-right">Fired:</td>
						<td>{{ employee.date_fire }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<p class="list-group-item active">Employment</p>
			<table class="table-condensed">
				<tbody>
					<tr>
						<td class="text-right">Active:</td>
						<td>{{ employee.active }}</td>
					</tr>
					<tr>
						<td class="text-right">Pancho:</td>
						<td>{{ employee.pancho }}</td>
					</tr>
					<tr>
						<td class="text-right">Daboin:</td>
						<td>{{ employee.daboin }}</td>
					</tr>
					<tr>
						<td class="text-right">Rate:</td>
						<td>{{ employee.rate_hourly }} ( {{ employee.rate_increase_date_display }} )</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="page-header">
		<div class="list-group">
			<p class="list-group-item active">Attendance</p>
			{% for attendance in employee.attendance_set.all|dictsortreversed:"date" %}
				<a href="/attendance/{{attendance.id}}" class="list-group-item">{{ attendance.date }} - {{ attendance.project }}</a>
			{% endfor %}
		</div>
	</div>


{% endblock %}