{% extends 'base.html' %}

{% block content %}

	<h4 class="page-header" style="margin-top:0px">{{ material.inventory.name }}</h4>

	<div class="row">
		<div class="col-sm-5">
			<p class="list-group-item active">Info</p>
			<table class="table-condensed">
				<tbody>
					<tr>
						<td class="text-right">Category:</td>
						<td>{{ material.inventory.category }}</td>
					</tr>
					<tr>
						<td class="text-right">Subtype:</td>
						<td>{{ material.inventory.subtype }}</td>
					</tr>
					<tr>
						<td class="text-right">Name:</td>
						<td><a href="/material/inventory/{{ material.inventory.id }}">{{ material.inventory.name }}</a></td>
					</tr>
					<tr>
						<td class="text-right">Cost Each:</td>
						<td class="text-right">{{ material.inventory.cost_display }}</td>
					</tr>
					<tr>
						<td class="text-right">Quantity:</td>
						<td class="text-right">{{ material.quantity }}</td>
					</tr>
					<tr>
						<td class="text-right">Cost Total:</td>
						<td class="text-right">{{ material.cost_display }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-7">
			<p class="list-group-item active">Notes</p>
			<p>{{ material.notes }}</p>
		</div>
	</div>

	<div class="page-header">
		<div class="list-group">
			<p class="list-group-item active">Projects</p>
			<a href="/project/{{material.project.id}}" class="list-group-item">{{ material.project }}</a>
		</div>
	</div> 

{% endblock %}