<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href=""> <!--icon for page tab-->

		<title>Cost Analysis</title>

		<!-- Bootstrap core CSS -->
		<link href="{% static 'PizzoDB/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

		<!-- Bootstrap theme -->
		<link href="{% static 'PizzoDB/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>

		<!-- Custom styles for this template -->
		<!-- <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet"> -->

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!-- <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script> -->

	</head>

	<body role="document">
		
			{% include "navbar.html" %}

		<div class="container theme-showcase" role="main" style="padding-top:75px">
			{% block content %} {% endblock %}
		</div>




		<!-- Bootstrap core JavaScript
		==================================================
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static 'PizzoDB/js/bootstrap.min.js' %}"></script>
		<script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
	</body>
</html>