{% extends 'base.html' %}

{% block content %}

	<h4 class="page-header" style="margin-top:0px">{{ project.code }}  –  {{ project.name }}</h4>

	<!-- Info -->
	<div class="row">
		<div class="col-sm-3">
			<p class="list-group-item active">Summary</p>
			<table class="table-condensed">
				<tbody class="text-right">
					<tr>
						<td>Labor:</td>
						<td>{{ project.attendance_set.all.0.total_labor }}</td>
					</tr>
					<tr>
						<td>Materials:</td>
						<td>{{ project.material_set.all.0.total_material }}</td>
					</tr>
					<tr>
						<td>Delivery:</td>
						<td></td>
					</tr>
					<tr>
						<td>Subcontractors:</td>
						<td></td>
					</tr>
					<tr>
						<td>Total Cost:</td>
						<td></td>
					</tr>
					<tr>
						<td>Profit:</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<p class="list-group-item active">Info</p>
			<table class="table-condensed">
				<tbody>
					<tr>
						<td class="text-right">Proposed Cost:</td>
						<td>{{ project.proposed_cost }}</td>
					</tr>
					<tr>
						<td class="text-right">Start Date:</td>
						<td>{{ project.date_start }}</td>
					</tr>
					<tr>
						<td class="text-right">Status:</td>
						<td>{{ project.active }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<p class="list-group-item active">Notes</p>
			<p>{{ project.notes }}</p>

		</div>
	</div>

	<!-- Reports -->
	<div class="page-header">
		<div class="list-group">
			<p class="list-group-item active">Reports</p>
			<a href="#" class="list-group-item">«Archive Project»</a>
			<a href="#" class="list-group-item">«Generate Invoice»</a>
		</div>
	</div>

	<!-- Attendance -->
	<div class="page-header">
		<div class="list-group">
			<p class="list-group-item active">Attendance</p>
			{% for attendance in project.attendance_set.all|dictsortreversed:"date" %}
				<a href="/attendance/{{attendance.id}}" class="list-group-item">{{ attendance.date }} - {{ attendance.employee.nick_title }} [ {{ attendance.cost_daily }} ]</a>
			{% endfor %}
		</div>
	</div>

	<!-- Materials -->
	<div class="page-header">
		<div class="list-group">
			<p class="list-group-item active">Materials</p>
			{% for item in project.material_set.all|dictsortreversed:"date" %}
				<a href="/material/{{item.id}}" class="list-group-item">{{ item.material_name }} [ {{ item.date }} ] - {{ item.quantity }}</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}